<div id="<%= dom_id federation %>">
  <h2><%= federation.name %></h2>
  <div>
    <% federation.teams.each do |team| %>
      <h3>Teams</h3>
      <li><%= team.name %></li>

    <% end %>
  </div>
</div>
